@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="eng">
<head>
    <title>Joel Hilton</title>
</head>
<body>
<div>
    <h1>Get to Know Joel</h1> 
    <br/>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br/> <br/>
    <a href="https://baconsale.com/">Baconsale</a>
    <br/>
    <a href="https://baconsale.com/">
        <img src="~/Images/BaconsaleKate.jpg" alt="Baconsale"/>
    </a>
</div>
</body>
</html>