@model Movie

@{
    Layout = "_Layout";
}

<h2>Add a Movie</h2>

<form method="post" action="/Home/MoviesList">

    Category:<br />
    <input type="text" name="Category" /><br /><br />

    Title:<br />
    <input type="text" name="Title" /><br /><br />

    Year:<br />
    <input type="number" name="Year" /><br /><br />

    Director:<br />
    <input type="text" name="Director" /><br /><br />

    Rating:<br />
    <select name="Rating">
        <option value="">Select</option>
        <option>G</option>
        <option>PG</option>
        <option>PG-13</option>
        <option>R</option>
    </select>
    <br /><br />

    Edited:<br />
    <input type="radio" name="Edited" value="true" /> Yes
    <input type="radio" name="Edited" value="false" /> No
    <br /><br />

    Lent To:<br />
    <input type="text" name="LentTo" /><br /><br />

    Notes:<br />
    <input type="text" name="Notes" maxlength="25" /><br /><br />

    <button type="submit">Add Movie</button>

</form>
@* <h1>Enter a new movie: </h1> <br/> *@
@* *@
@* <form> *@
@*      *@
@*     <label>Category:</label> *@
@*     <input/> <br/> <br/> *@
@*     <label>Title:</label> *@
@*     <input/> <br/> <br/> *@
@*     <label>Year:</label> *@
@*     <input/> <br/> <br/> *@
@*     <label>Director:</label> *@
@*     <input/> <br/> <br/> *@
@*     <label>Rating:</label> *@
@*     <select name="Rating"> *@
@*         <option value="">--Select--</option> *@
@*         <option>G</option> *@
@*         <option>PG</option> *@
@*         <option>PG-13</option> *@
@*         <option>R</option> *@
@*     </select> <br/> <br/> *@
@*     <label>Edited:</label> *@
@*     <input/> <br/> <br/> *@
@*     <label>Lent to:</label> *@
@*     <input/> <br/> <br/> *@
@*     <label>Notes:</label> *@
@*     <input/> <br/> <br/> *@
@* </form> *@
@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title>title</title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*        *@
@* </div> *@
@* </body> *@
@* </html> *@